<h3>Pragmatic Order Shipped</h3> <p>
  This is just to let you know that we've shipped your recent order:
</p>
<table>

  <thead>
    <tr>
      <th>Quantity</th>
      <th>Title</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
    <tr>
      <td><%= line_item.quantity %>&times;</td>
      <td><%= line_item.product.title %></td>
      <td class="item_price"><%= number_to_currency(line_item.total_price, unit: '¥') %></td>
    </tr>
    <% end %>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@order.total_price, unit: '¥') %></td>
    </tr>
  </tbody>
</table>
